html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	background-color: #222;

	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 14px;
    color: #FFF;
}

p {
	margin: 0px;
	padding: 0px;
}

table{
	margin: 0 auto;
}

table, th, td {
	border: 0px;
}
th, td {
	padding: 3px 10px;
	text-align: center;
}

td {
	min-width: 80px;
}

a {
	color: #FFF;
}

a:hover {
	color: #DDD;
}

#wrapper {
	position:relative;

    width: 100%;
    height: 100%;

	background-image:url('images/prototype.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
}

#main {
	max-width: 500px;
    min-height: 80%;
    margin: 0 auto;
  	text-align: center;
}
#banner{
	padding: 40% 20%;
}

#title{
	font-size: 50px;
}

#footer {
	width: 100%;
	position: absolute;	
	bottom:15px;
}






